@import "../common.scss";

.PolicyTrackPanel {
    @extend %box;
    .content {
        height: 134px;
    }

    .slot {
        float: left;
        width: 64px;
        height: 64px;
        border: 1px solid gray;
        margin-right: 5px;
        margin-bottom: 3px;
    }
    .liberal.slot {
        width: 78px;
    }
    .liberal.slot.victory {
        width: 79px;
    }
    .track {
        clear: both;
    }
    .investigate-loyalty {
        background-image: url('./power-investigate-loyalty.png');
    }
    .execution {
        background-image: url('./power-execution.png');
    }
    .policy-peek {
        background-image: url('./power-policy-peek.png');
    }
    .call-special-election {
        background-image: url('./power-call-special-election.png');
    }
    .none {
        background-image: url('./power-none.png');
    }
    .liberal.victory {
        background-image: url('./liberal-victory.png');
    }
    .fascist.victory {
        background-image: url('./fascist-victory.png');
    }
    .liberal.token::after {
        content: url('./liberal-token.png');
    }
    .fascist.token::after {
        content: url('./fascist-token.png');
    }
}
